<header>
	<div class="flex">
			<!-- Logo -->	
		<div class="flex-content center">
			<a href="/">
				<img src="assets/images/logo.png" alt="Minuto News" class="logo">
			</a>
		</div>
		
			<!-- Menu -->
		<div class="flex-content center">
			<nav class="menu">
				<ul>
					<li>
						<a href="#" class="selected">Início</a>
					</li>
					<li>
						<a href="#">Brasil</a>
					</li>
					<li>
						<a href="#">Mundo</a>
					</li>
					<li>
						<a href="#">Blogs</a>
					</li>
					<li>
						<a href="#">Assine</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
</header>
