header {
    padding-top: 45px;
    padding-bottom: 12px;
    border-bottom: 4px solid #c10027;
}

.logo {
    width: 20em;
}

.flex-logo, .flex-menu {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 15em;
    }

    .flex-logo {
        width: 60%;
    }
}