nav {
    height: 100%;

    .menu {
        height: 100%;
        display: -webkit-inline-box;
        list-style: none;
        align-items: flex-end;
        margin: 0;

        .menu-item {
            padding: 10px 15px;
            font-size: 22px;
        }
        a {
            color: black;
            text-decoration: none;

            &.selected {
                color: #c10027;
                font-weight: bold;
            }
        }
    }

    .submenu-icon {
        cursor: pointer;
        
        a {
            color: black;
            text-decoration: none;

            &.selected {
                color: #c10027;
                font-weight: bold;
            }
        }
    }

    .submenu {
        display: none;
        position: absolute;
        list-style: none;
        padding-top: 18px;
        padding-right: 14px;
        padding-bottom: 8px;
        padding-left: 14px;
        text-align: left;
        font-size: 16px;
        width: 12%;
        background-color: white;
        border-bottom: 4px solid #c10027;

        .submenu-item {

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .submenu-icon:hover + .submenu, .submenu:hover {
        display: block;
    }

    .menu-icon {
        display: none;
    }
}


@media screen and (max-width: 980px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        .menu {
            display: none;

            &.responsive {
                display: block;
                position: absolute;
                height: auto;
                top: 115px;
                background-color: #fff;
                width: 100%;
                border-bottom: 4px solid #c10027;
            }
        }

        .menu-icon {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            align-items: center;
            margin-right: 30px;

            .icon {
                border: 1px solid black;
                text-decoration: none;
                color: black;
                padding: 5px 10px;
                border-radius: 3px;
                font-size: 26px;
            }
        }

        .submenu-icon:hover + .submenu, .submenu:hover {
            display: flex;
            flex-direction: column;
            width: 90%;
            position: initial;
        }
    }
}