<nav >
	<ul class="menu">
		<li class="menu-item" *ngFor="let menu of arrMenu">
			<a [href]="menu.link" [ngClass]="{'selected': menu.select}" *ngIf="!hasSubmenu(menu)">{{ menu.name }}</a>

			<a href="#" class="link-submenu" *ngIf="hasSubmenu(menu)">

				<span class="submenu-icon">
					<a [href]="menu.link">{{ menu.name }}</a>
					<img src="assets/images/arrow_submenu.png">
				</span>

				<ul class="submenu">
					<li class="submenu-item" *ngFor="let sub of menu.submenu">
						<a [href]="sub.link">{{ sub.name }}</a>
					</li>
				</ul>
			</a>
		</li>
	</ul>
</nav>