.slider {
    margin: 0;
    display: grid;
    width: 100%;

    .slide-images {
        grid-column: 1;
        grid-row: 1;

        img {
            width: 100%;
        }
    }

    .slide-buttons {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        width: 100%;
        align-items: center;

        .btn-slide {
            background-color: #c10027;
            font-size: 60px;
            color: white;
            border: 0;
            height: 70px;
            width: 50px;
            align-self: center;
            justify-content: center;
        }

        .slide-button {
            justify-self: center; 
        }

        .slide-display-left {
            grid-row: 1;
        }

        .slide-display-right {
            grid-row: 1;
        }

        .steps {
            display: flex;
            align-self: flex-end;
            padding-bottom: 30px;

            .btn-step {
                background-color: white;
                width: 20px;
                height: 20px;
                margin: 6px;

                border-width: 3px;
                border-style: solid;
                border-color: #000;

                &.change {
                    border-color: #c10027;
                }
            }
        }
    }
    
    /*

    .slide-buttons {
        position: relative;
    }

    .slide-button {
        font-size: 60px;
        color: white;
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
        border: 0;
        background-color: #c10027;
        height: 70px;
        width: 50px;

        &.slide-display-left {
            left: 6%;
        }

        &.slide-display-right {
            right: 6%;
        }
    }

    .steps {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 6%;

        .btn-step {
            background-color: white;
            width: 20px;
            height: 20px;
            margin: 6px;

            border-width: 3px;
            border-style: solid;
            border-color: #000;

            &.change {
                border-color: #c10027;
            }
        }
    }*/

}