<section class="slider">

	<div class="slide-images">
		<div *ngFor="let slide of slides; let idx = index">
			<div class="mySlides">
				<img src="{{ urlSlide + slide }}">
			</div>
		</div>
	</div>

	<div class="slide-buttons">
		<div class="slide-button slide-button-right">
			<button class="btn-slide" (click)="plusDivs(-1)"><</button>
		</div>

		<div class="slide-button  steps">
			<div *ngFor="let slide of slides; let idx = index">
				<button class="btn-step" (click)="currentDiv(idx + 1)"></button> 
			</div>
		</div>

		<div class="slide-button slide-button-left">
			<button class="btn-slide" (click)="plusDivs(1)">></button>
		</div>
	</div>
</section>