<section class="slider">
	<div class="w3-display-container">

		<div *ngFor="let slide of slides; let idx = index">
			<div class="w3-display-container mySlides w3-animate-left">
				<img src="{{ urlSlide + slide }}">
			</div>
		</div>

		<button class="slide-button slide-display-left" (click)="plusDivs(-1)"><</button>
		<button class="slide-button slide-display-right" (click)="plusDivs(1)">></button>

		<div class="steps">
			<div *ngFor="let slide of slides; let idx = index">
				<button class="btn-step" (click)="currentDiv(idx + 1)"></button> 
			</div>
		</div>

	</div>
</section>