/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex {
    display: flex;
    justify-content: space-around;

    .flex-content {
        width: 100%;
    }
}

.center {
    text-align: center;
}