<section class="page-margin">
	<header>
		<h2>Editoriais</h2>
		<div>
			<label for="order">Ordenar por:</label>
			<select name="order" (change)="changeOrder(selectOrder.value)" #selectOrder>
				<option value="">Selecione</option>
				<option value="date">Data</option>
				<option value="name">Nome</option>
			</select>

			<label for="filter">Filtrar por:</label>
			<select name="filter" (change)="changeFilter(selectFilter.value)" #selectFilter>
				<option value=''>Editoria</option>
				<option *ngFor="let new of news" [ngValue]="new">{{new.Editoria}}</option>
			</select>
		</div>
	</header>

	<div class="news">
		<article *ngFor="let new of listNews">

				<div class="top">
					<span>{{ new['Data de publicação'] }}</span>
					<span>
						<strong>{{ new['editoria'] }}</strong>
					</span>
				</div>
				<div class="content">
					<img src="{{ imageUrl + new['Foto'] }}" alt="Governo">
					<h3>{{ new['Título'] }}</h3>
					<p>{{ new['Texto'] }}</p>
				</div>

				<div class="footer">
					<a href="#">Saiba mais</a>
				</div>

		</article>
	</div>

</section>
<div class="separated"></div>