<section class="page-margin">
	<header>
		<h2>Editoriais</h2>
		<div>
			<label for="order">Ordenar por:</label>
			<select name="order" id="order">
				<option value="data">Data</option>
				<option value="nome">Nome</option>
			</select>

			<label for="filter">Filtrar por:</label>
			<select name="filter" id="filter">
				<option *ngFor="let editory of listEditory">{{editory}}</option>
			</select>
		</div>
	</header>

	<div class="news">
		<article *ngFor="let news of listNews">
			<div class="top">
				<span>20/03/2017</span>
				<span>
					<strong>Governo</strong>
				</span>
			</div>
			<div class="content">
				<img src="{{ imageUrl + news.Foto }}" alt="Governo">
				<h3>Votação encerrada</h3>
				<p>{{ news.Texto }}</p>
			</div>

			<div class="footer">
				<a href="#">Saiba mais</a>
			</div>
		</article>
	</div>

</section>
<div class="separated"></div>