<section class="page-margin">
	<header>
		<h2>Editoriais</h2>
		<div>
			<label for="order">Ordenar por:</label>
			<select name="order" id="order">
				<option>Data</option>
			</select>

			<label for="filter">Filtrar por:</label>
			<select name="filter" id="filter">
				<option>Editoria</option>
			</select>
		</div>
	</header>

	<div class="news">
		<article>
			<div class="top">
				<span>20/03/2017</span>
				<span>
					<strong>Governo</strong>
				</span>
			</div>
			<div class="content">
				<img src="https://raw.githubusercontent.com/JeanGoncalves/desafio-front-end-infograficos/master/Arquivos/Imagens/Notícias/8.jpg" alt="Governo">
				<h3>Votação encerrada</h3>
				<p>loren ipsun dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
				<a href="#">Saiba mais</a>
			</div>
		</article>
	</div>

</section>
<div class="separated"></div>