<section class="contact">

	<article class="address">
		<div class="grid-column-2 grid-row-1 align-self-end title">
			<h2>Entre em Contato</h2>
		</div>
		<div class="grid-column-2 grid-row-2 align-self-center subtitle">
			<h3>Onde nos achar</h3>
		</div>
		<div class="grid-column-2 grid-row-3 content">
			<div class="description">
				<address>
					<span>Rua dos Alfeneiros, número 4</span> <br/>
					<span>00-91102</span> <br/>
					<span>Little Whitning</span> <br/>
					<span>Londres/Inglaterra</span>
				</address>

				<div class="dbl-space"></div>

				<span>(21) 4004 - 1234</span> <br/>
				<span>(21) 4004 - 4321</span>
				
				<div class="dbl-space"></div>
				
				<span>contato@minutonews.com.br</span>

				<div class="dbl-space"></div>

				<span>Aberto de segunda a sexta das 09h às 19h</span>
			</div>
		</div>
	</article>

	<article class="form">
		<div class="grid-column-1 grid-row-1 align-self-end title"></div>
		<div class="grid-column-1 grid-row-2 align-self-center subtitle">
			<h3>Mande uma mensagem</h3>
		</div>
		<div class="grid-column-1 grid-row-3 content">
			<label for="name">Seu nome:</label>
			<input type="text" name="name">

			<label for="email">Email:</label>
			<input type="email" name="email">

			<label for="message">Mensagem:</label>
			<textarea name="message" cols="30" rows="6"></textarea>

			<button type="submit" id="submit">Enviar</button>
		</div>
	</article>

</section>