<section class="contact page-margin">
	<article class="address">
		<h2>Entre em Contato</h2>
		<h3>Onde nos achar</h3>
		<div class="description">
			<address>
				<span>Rua dos Alfeneiros, número 4</span> <br/>
				<span>00-91102</span> <br/>
				<span>Little Whitning</span> <br/>
				<span>Londres/Inglaterra</span>
			</address>

			<div class="dbl-space"></div>

			<span>(21) 4004 - 1234</span> <br/>
			<span>(21) 4004 - 4321</span>
			
			<div class="dbl-space"></div>
			
			<span>contato@minutonews.com.br</span>

			<div class="dbl-space"></div>

			<span>Aberto de segunda a sexta das 09h às 19h</span>
		</div>
	</article>
	<article class="form">
		<h3>Mande uma mensagem</h3>
	</article>
</section>